{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load crispy_forms_tags %}

{% if question_page %}
    {% for question in question_page %}
        <h1>{{ question.question_text }}</h1>
        <ul>
        {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
        {% endfor %}
        </ul>
        <a href="{% url 'surveyDetail' question.id %}">Answer again?</a>
        <br>
    {% endfor %}
{% else %}
    <p>No valid question page</p>
{% endif %}
{% endblock %}