{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid">
    <div class = "card mt-3 p-3 text-white bg-success mb-3 text-center">
        <h5 class="card-header ">You're all set!</h5>
        <div class="card-body">
            <form method="post" novalidate class="card-text">
                {% csrf_token %}
                <h3>The survey has ended. Have a lovely day!</h3>
                <h6 class="text-warning">You can close this tab now</h6>
                <!--    call the clipboard copy function -->
            </form>
        </div>
    </div>
</div>
{% endblock %}