{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}
    <script type="text/javascript" src="{% static 'welcome/cookie.js' %}"></script>

<div class="container-fluid">
  <h2>Signup complete!</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    <p align="center">Signed up successfully, your user id is {{ id }}. Please keep this handy</p>
<!--    <button type="submit" formaction="/redirectToFacebook/" class="btn btn-success">Continue</button>-->
    <button class = "btn btn-success" id="postYourAdd" onclick="postYourAdd()">OPEN</button>
  </form>
</div>


{% endblock %}