{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row" >
    <br>
</div>
        {% if questionPage  %}
                <!--start the row-->
                <div class="row align-items-center card">
                <div class="card-body">
                    <div class = "row card-title">
                        You saw the following post by {{ questionPage.link_model.author_name }}
                    </div>
                    <div class = "row">
                                <div class="col-sm-6">
                                    Author: {{ questionPage.link_model.author_name}}<br>
<!--                                    check if this questionPage.link_model was a genuine one or a fake one, show the image accordingly-->
                                    {% if questionPage.link_model.link_type.id  == 1 %}
<!--                                        a genuine line since type == 1-->
                                        <img class = "card-img-left"  object-fit="contain" width="80%" src = "{{ questionPage.link_model.link_image_src_original }}" /><br>
<!--                                        show the original link text-->
                                        {{ questionPage.link_model.link_text_original}}<br>
<!--                                        show the original link href-->
                                        <a href="{{ questionPage.link_model.link_target_original}}">{{questionPage.link_model.link_target_original}}</a><br>
                                    {% else %}
<!--                                        show the fake image-->
                                        <img class = "card-img-left" object-fit="contain" width="80%" src = "{{ questionPage.link_model.preview_image }}" /><br>
<!--                                        show the original link text, since we are not faking any link texts anyway-->
                                        {{ questionPage.link_model.link_text_fake}}<br>
<!--                                        show the fake link href-->
                                        <a href="{{ questionPage.link_model.link_target_fake}}">{{questionPage.link_model.link_target_fake}}</a><br>
                                    {% endif %}
                                </div>

                                <div class="col-sm-6 ">
                                    <ul>
                                        {% if questionPage.questionnew_set %}
                                        showing the first question - {{questionPage.questionnew_set.first.question_text}}
                                            {% for question in questionPage.questionnew_set.all %}
                                                <form action="{% url 'surveyVoteNew' questionPage.id %}" method="post">
                                                    <li>
                                                        <h5>{{ question.question_text }}</h5>
                                                        {% if error_message %}  <p><strong>{{ error_message }}</strong></p> {% endif %}
                                                            {% csrf_token %}
                                                            {% for choice in question.choicenew_set.all %}
                                                                <!-- if forloop.parentloop.first -->
                                                                {% if question.question_type.question_type == 2 %}
                                                                    <input type="text" name="choice" id="choice0" value="{{ choice.id }}">
                                                                {% else %}
                                                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                                                {% endif %}
                                                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                                            {% endfor %}
                                                    </li>
                                                    <input type="submit" value="Submit">
                                                </form>
                                            {% endfor %}
                                        {% else %}
                                            <p>No questions are available.</p>
                                        {% endif %}
                                    </ul>
                                </div>
                <!--end the row-->
                    </div>
                </div>
                </div>
        {% else %}  <p>No links are available.</p>
        {% endif %}
{% endblock %}